/* Reset de estilos para el navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #0055a4; 
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.menu img {
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav a:hover{
    color: #000000;
}

main {
    padding: 20px;
}

#banner {
    background-color: #0055a4; 
    color: #fff;
    padding: 30px 0 0 0;
    text-align: center;
}

#banner video {
    width: 100%;
    height: 300px; /* Establece una altura fija */
    object-fit: cover; /* Ajusta el video sin mantener la proporción */
}


#search {
    background-color: #0077cc; 
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #0055a4; 
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    
}
footer a:hover {
    color: #000000;
}

/*INICIO DE CONFIGURACION DE LAS CARDS*/
#container {
    display: flex; /* Utiliza Flexbox para distribuir las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no caben en una sola fila */
    justify-content: space-around; /* Distribuye uniformemente las tarjetas en la fila */
  }
.card {
    margin: 10px;
    max-width: 400px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.card:hover {
    max-width: 405px;      
}

.card a {
    display: block; 
    text-align: center; 
    background-color: #007bff; 
    color: #fff; 
    padding: 10px; 
    text-decoration: none; 
    border-radius: 0 0 10px 10px; 
}

.card img {
    width: 100%; /* Ajusta la imagen para llenar el contenedor de la tarjeta */
    border-radius: 10px 10px 0 0; /* Define la curvatura de los bordes de la imagen */
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px; /* Ajusta el ancho según tus preferencias */
  }
  input[type="text"]::placeholder {
    color: #999; /* Cambia el color del texto del marcador de posición */
  }
  input[type="text"]::placeholder {
    color: #999; /* Cambia el color del texto del marcador de posición */
  }
  
  .responsive-video {
    width: 100%;
    height: 500px;
  }